.pattern {
    border-radius: 4px;
    width: 268px;
    height: 152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.num {
    position: absolute;
    font: 600 60px / 1 "Plus Jakarta Sans", sans-serif;
    color: #111827;
    left: 52px;
    bottom: 28px;
}
.title {
    font: 400 12px / 1.33333 "Plus Jakarta Sans", sans-serif;
    color: #111827;
 position: absolute;
    left: 52px;
    top: 28px;
    text-align: left;
}
.item {
    border-radius: 20px;
    width: 16px;
    height: 2px;
    background: #111827;
    position: absolute;
    top: 36px;
    left: 28px;

}